extends layout

block content
  h1= title
  h2 Welcome to #{title}

  if apiResult
    #featured
      img(src=apiResult.primaryImageSmall, alt="An image of the object from the Metropolitan Museum of Art").framed
      .placard
        h3.artwork_title
          a(href=apiResult.objectWikidata_URL) #{apiResult.title}
        h4.artist_name
          a(href=apiResult.artistWikidata_URL) #{apiResult.artistDisplayName}
        p.object_date= apiResult.objectDate
        p.artwork_medium= apiResult.medium
        p.museum_details 
          a(href=apiResult.linkResource) Metropolitan Museum of Art

    button#theme-button toggle text color
  else 
    p No art here yet!
    